body {text-align: center;
    color: #000066;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 150%
    
}
h1 {text-align: center;
    color: #004d4d;
    font-family: Verdana;
    font-size: 200%
    
}

.large {font-size: 1000%;}

/*p {text-align: center;
    color: #000066;
    font-family: Verdana;
    font-size: 500%;
}*/